 .Cards{
    display: flex;
    gap: 1.3rem;
    

 }
 .parentContainer {
    width: 100%;
 }
 
 @media screen and (max-width:1200px){
   .Cards{
      flex-direction: column;
      

   }
   .parentContainer{
      height: 9rem;
      width: 90%;
   }
 }
 @media screen and (max-width:768px) 
{
  .Cards{
   height: 30rem;
   width: 90%;
  }
  .parentContainer{
   width: 90%;
  }
}